.receipe-show {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-bottom: 1em;
    /* color: #333; */
  }

  /* Headings */
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    margin-bottom: 1.5em;
  }

  /* Blockquotes */
  blockquote {
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-bottom: 1.5em;
    color: #777;
  }

  /* Lists */
  ul,
  ol {
    margin-bottom: 1.5em;
    padding-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  /* Tables */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
    color: #ddd;
  }

  th,
  td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #444;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #555;
  }

  tr:hover {
    background-color: #666;
  }

  /* Code Blocks */
  pre {
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow-x: auto;
    padding: 10px;
    margin-bottom: 1.5em;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 1.5em;
  }

  /* Images */
  .description > p > img {
    max-width: 100%;
    max-height: 8rem;
    display: block;
    border-radius: 10px !important;
    margin: 2rem auto;
  }

  figcaption {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-top: -10px;
  }
}
